body {
    margin: 0vw;
    padding: 0vw;
}
div {
    margin: 0vw;
    padding: 0vw;
}
h1 {
    margin: 0vw;
    padding: 0vw;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
    margin: 0vw;
    padding: 0vw;
    font-family: 'Courier New', Courier, monospace;
}
h4{
    margin: 0vw;
    padding: 0vw;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    font-size: 20vw;
    text-align: center;
    margin: 0vw;
    padding: 0vw;
    font-family: 'Courier New', Courier, monospace;
}
h6 {
    font-family: 'Courier New', Courier, monospace;
}
button {
    border: none;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
p {
    margin: 0vw;
    padding: 0vw;
    font-family: 'Courier New', Courier, monospace;
}

/* In multiple pages ---------------------------------------------------------------------------------- */

#linksLine {
    margin-right: 1vw;
    margin-top: 1vw;
    margin-bottom: 5vw;
    padding: 0vw;
}
#pageLinks {
    font-size: 1.5vw;
    text-decoration: none;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
    margin-right: 2.5vw;
}
#topOfPage {
    padding: 0vw;
    margin: 0vw 0vw 5vw 0vw;
}
#pageTitle {
    text-align: center;
    padding-top: 20vw;
    font-size: 5vw;
}
#smallPrev {
    color: rgba(244, 244, 244, .9);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.5vw;
    padding: 0vw .5vw .5vw .5vw;
    float: left;
}
#smallNext {
    color: rgba(244, 244, 244, .9);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.5vw;
    float: right;
    padding: 0vw .5vw .5vw .5vw;
}

/* Index Page ------------------------------------------------------------------------------------ */

#clock {
    padding-top: 30vw;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 12vw;
}
#time {
    font-size: 60vw;
}
#firstImpression {
    display: inline-block;
    margin: 15vw 0vw 0vw 3vw;
}
#bighook {
    font-size: 3vw;
    text-align: center;
    margin: 2vw 50vw 2vw 14vw;
    border-top: .2vw solid black;
    border-bottom: .2vw solid black;
    padding: 1vw 0vw 1vw 0vw;
}
#circleImage {
    margin: 0vw 0vw 0vw 15vw;
    float: left;
    border: .3vw solid black;
    border-radius: 100%;
    height: 25vw;
    width: 25vw;
    background-size: cover;

}
#slideshow {
    margin: 1vw auto 20vw auto;
    height: 42.25vw;
    width: 65vw;
    border: solid;
    background-size: cover;
}
#slideshowPrev {
    color: rgba(244, 244, 244, .9);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    padding: 0vw .5vw .5vw .5vw;
    display: inline-block;
}
#slideshowNext {
    color: rgba(244, 244, 244, .9);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    float: right;
    padding: 0vw .5vw .5vw .5vw;
}
#homePageTitle {
    margin: 2vw auto 4vw 5vw;
    font-size: 9vw;
}
#homePageTitle2 {
    margin: 5vw auto 0vw 2.5vw;
    font-size: 9vw;
}
#homePageTitle3 {
    margin: 0vw 3vw 2vw 0vw;
    font-size: 15vw;
    justify-content: end;
    text-align: right;
}
#bubbleTalk {
    margin: 20vw auto 20vw auto;
    width: 56vw;
    text-align: center;
    font-size: 4vw;
}
#projectsFrame {
    margin: 20vw 1vw 20vw 1vw;
    /* border: 3vw solid rgb(84, 84, 84); */
}
#projectsBlock {
    margin: 8vw 10vw 0vw 12vw;
    align-items: center;
    padding: 8vw 4vw 8vw 1vw;
    display:inline-block;
    font-family: 'Courier New', Courier, monospace;
}
#indexTitle {
    text-decoration: underline;
    font-size: 3.6vw;
    text-align: center;
    border: .2vw solid rgb(84, 84, 84);
    border-right: hidden;
    border-left: hidden;
    border-bottom: hidden;
}
.indexLetter {
    text-align: center;
    border-bottom: .2vw solid rgb(84, 84, 84);
    padding-bottom: 2vw;
    font-size: 1.5vw;
}
#projectsImage {
    width: 40vw;
    height: 32vw;
    background-size: cover;
    margin: 4vw 0vw 2vw 0vw;
}
#photographyFrame {
    margin: 10vw 1vw 10vw 1vw;
    padding-left: 5vw;
    width: 98%;
}
#photographyBlock {
    margin: auto 13vw auto 60vw;
    padding-top: 5vw;
}
#photographyImage {
    float: left;
    width: 30vw;
    height: 24vw;
    margin: auto 0vw auto 13vw;
    background-size: cover;
}
#bakingFrame {
    margin: 20vw 1vw 20vw 1vw;

}
#bakingBlock {
    margin: 8vw 0vw 0vw 14vw;
    align-items: center;
    padding: 8vw 4vw 8vw 4vw;
    display:inline-block;
}
#bakingImage {
    width: 40vw;
    height: 32vw;
    background-size: cover;
    margin: 10vw 4vw 4vw 4vw;
}
#contactTitle {
    margin: 3vw auto 2vw auto;
}
#contactUpperBody {
    margin: 2vw auto 1vw auto;
    font-size: 3vw;
    text-align: center;
}
#contactLowerBody {
    margin: 0vw auto 5vw auto;
    font-size: 1.8vw;
    text-align: center;
}
#botPage {
    margin: 15vw 0vw 0vw 0vw;
    background-color: darkslategrey;
    padding: .5vw;
}
#credits {
    margin: 1vw auto 1vw 3vw;
    color: beige;
    font-size: 1vw;
}

/* Photography Page ---------------------------------------------------------------------------------- */

#photographyPageTitle {
    margin: 2vw auto 0vw 10vw;
    display: inline-flex;
    font-size: 14vw;
}
#photographyPageTitle2 {
    margin: 0vw 3vw 2vw 16vw;
    font-size: 13vw;
    display: inline-flex;
    text-align: right;
}
#photographyTextBlock {
    margin: 6vw 10vw 2vw 50vw;
    text-align: center;
}
#imageText {
    font-size: 2vw;
}
#imageTextBotDiv {
    vertical-align: top;
}
#imageTextBig {
    font-size: 3vw;
}
#slideshowText {
    margin: 20vw auto 1vw auto;
    text-align: center;
    font-size: 3vw;
}
#photoTalk {
    margin: 7vw auto 2vw auto;
    text-align: center;
    font-size: 4vw;
}
#londonFrame {
    margin: 10vw auto 15vw auto;
}
#londonBlock {
    margin: 6vw 0vw auto 2vw;
}
#smallSlideshowLondon {
    border: solid;
    margin: 15vw auto auto 9vw;
    height: 30vw;
    width: 48vw;
    background-size: cover;
}
#parisFrame {
    margin: 2vw auto 10vw auto;
}
#parisBlock {
    margin: 6vw 0vw auto 2vw;
}
#smallSlideshowParis {
    border: solid;
    margin: 7vw auto auto 12vw;
    height: 45vw;
    width: 36vw;
    background-size: cover;
}
#zooFrame {
    margin: 10vw auto 20vw auto;
}
#zooBlock {
    margin: 6vw 0vw auto 2vw;
}
#smallSlideshowZoo {
    border: solid;
    margin: 7vw auto auto 9vw;
    height: 30vw;
    width: 48vw;
    background-size: cover;
}
#japanFrame {
    padding-right: 0vw;
    margin: 20vw 4vw 15vw 4vw;
}
#japanBlock {
    margin: 0vw 0vw 4vw 27vw;
    float: right;
}
#smallSlideshowJapan {
    border: solid;
    margin: 5vw auto auto 1vw;
    height: 30vw;
    width: 48vw;
    background-size: cover;
}
#purdueFrame {
    margin: 10vw auto 20vw auto;
}
#purdueBlock {
    margin: 0vw 0vw auto 2vw;
}
#smallSlideshowPurdue {
    border: solid;
    margin: 3vw auto auto 9vw;
    height: 30vw;
    width: 48vw;
    background-size: cover;
}
#chicagoFrame {
    /* border:solid; */
    margin: 10vw 4vw 18vw 4vw;
}
#chicagoBlock {
    display: inline-block;
    margin: 0vw 0vw 4vw 27vw;
}
#smallSlideshowChicago {
    border: solid;
    margin: 3vw auto auto 1vw;
    height: 30vw;
    width: 48vw;
    background-size: cover;
}

/* Projects Page ----------------------------------------------------------------------------- */
#projectsPageTitle {
    margin: 2vw auto 1vw 5vw;
    font-size: 10vw;
}
#projectsPageTitle2 {
    margin: 0vw auto 0vw 20vw;
    text-align: center;
    font-size: 14vw;
}
#visibleLink {
    text-decoration-line: underline;
}
#timeMachineFrame {
    margin: 20vw 1vw 20vw 1vw;
}
#timeMachineBlock {
    margin: auto 5vw auto 3vw;
    width: 48vw;
}
#timeMachineImage {
    margin: 0vw 1vw auto auto;
    height: 30vw;
    border: .2vw solid lightgray;
}
#verseFrame {
    margin: 20vw 1vw 20vw 1vw;
}
#verseBlock {
    margin: 0vw 3vw auto 38vw;
    width: 55vw;
}
#indexCaption {
    text-align: center;
}
#verseImage {
    margin: 13vw 0vw 0vw 3vw;
    float: left;
    height: 10vw;
}
#plaguePredictorFrame {
    margin: 20vw 1vw 20vw 1vw;
}
#plaguePredictorBlock {
    margin: auto 5vw auto 3vw;
    width: 45vw;
}
#plaguePredictorImage {
    margin: 2vw 1vw auto auto;
    height: 26vw;
    border: .3vw solid lightgray;
}
/* Baking Page ----------------------------------------------------------------------------------------- */
#bakingPageTitle {
    margin: 2vw auto 1.5vw 1vw;
    font-size: 8vw;
}
#bakingPageTitle2 {
    font-size: 14.5vw;
    text-align: right;
    margin-bottom: 5vw;
}
#introduction {
    text-align: center;
}
#overviewTitle {
    font-size: 4vw;
}
#overview {
    font-size: 1.3vw;
    margin: 1vw auto 0vw 20.5vw;
    width: 60%;
    color: dimgray;
}
#linkBox {
    border: .2vw solid rgb(84, 84, 84);
    margin: 2vw 25vw 2vw 25vw;
}
#bookmark {
    margin: 2vw auto 2vw auto;
    font-weight: bold;
    width: 87%;
    padding-bottom: 1.5vw;
    border-bottom: .1vw solid dimgray;
}
#foodLinks {
    font-weight: bold;
    font-size: 1.6vw;
    text-align: center;
    margin: 1.4vw auto 2vw auto;
}
#cakeSection {
    margin: 1vw 2vw 5vw 2vw;
    padding-left: 1vw;
    border-left: .15vw solid dimgrey;
    display: flex;
}
#textLeft {
    display: inline-block;
    width: 35vw;
}
#picRight {
    display: inline-block;
}
#cakeFrame {
    /* border: .2vw solid black; */
    margin: 20vw 2vw 20vw 2vw;
}
#cake {
    font-size: 4.5vw;
    font-weight: bold;
    border-bottom: .15vw solid dimgrey;
    margin-bottom: 2vw;
}
#cakeTitle {
    font-size: 3vw;
    margin: 2vw auto 1vw 1vw;
}
#cakePic {
    margin: .5vw 1vw auto 0vw;
    float: right;
    height: 24vw;
    border: .15vw solid dimgray;
}
#cakeCaption{
    padding-left: 1vw;
}
#cakeText {
    margin: 1vw 1vw 1vw 1vw;
    font-size: 1.5vw;
    width: 35vw;
}


/* morse --------------------------------------------------------------------------------------- */
#morseTitle {
    text-align: center;
    font-size: 5vw;
}
#morseHighScore {
    margin: 5vw 3vw 1vw auto;
}
#sliderValue {
    margin: 1vw auto 0vw auto;
    text-align: center;
}
#sliderFrame {
    margin: 1vw auto 1vw auto;
    width: 100%;
    display:flex;
    justify-content: center;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 40%; /* Half-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%; 
background: #6d6d6d;
cursor: pointer;
}
.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}
.smMorse {
    width: 6vw;
    border:rgb(213, 213, 213) solid .1vw;
    background-color: #dedede;
    box-shadow: 0 .2vw #666;
    margin: 2vw .5vw 1vw .5vw;
}
.smMorse:active {
    background-color: #d3d3d3;
    box-shadow: 0 .1vw #666;
    transform: translateY(.25vw);
}
#bigbutton {
    background-color: #bc0606;
    box-shadow: 0 .5vw #666;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin: 1vw auto 2vw auto;
    display: flex;
    justify-content: center;

}
#bigbutton:active {
    background-color: #7f0a0a;
    box-shadow: 0 .25vw #666;
    transform: translateY(.25vw);
  }
.middleMorse {
    display: flex;
    justify-content: center;
}
.middleSingle {
    text-align: center;
    display: block;
}
#morseSheetTitle {
    margin: 3vw auto 1vw auto;
}
#morseSheet {
    margin: 1vw auto 2vw auto;
}
#morseEndMessage {
    margin: 20vw auto auto auto;
}
#morseInput {
    margin: 10vw auto 10vw auto;
}


/* ------------------------------------------------------------------------------------------------- */
#pphotographyGrid {
    margin: 8vw auto 8vw auto;
    display: flex;
}
.pphotographyPhoto {
    margin: 1vw 1vw 1vw 1vw;
    width: 39vw;
}